.product-card {
    padding-bottom: 1.25rem;
    border: 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.4375rem;

}
.product-card:hover {
    border-color: #fff !important;
    box-shadow: 0 0.3rem 1.525rem -0.375rem #0000002e;
}
.addto-cardbtn {
    padding: 8px;
    background-color: #fe696a;
    color: white;
}
.addto-cardbtn:hover {
    background-color: #fe3638;
    color: white;
}

/* Hover text css */
.product-actionadd {
    font-size: 0.8125rem !important;
    top: 100%;
    width: 100%;
    border-radius: 0.4375rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
}

.product-actionadd a {
    color: #4b566b;
    text-decoration: none;
}
.product-actionadd a:hover {
    color: #fe696a;
}
/* .productcard-sec .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
} */
/* Hover text css End */
.product-name {
    color: #7d879c;
    text-decoration: none !important;
}
.product-name:hover {
    color: #4b566b;
}
.product-title>a {
    font-size: 0.875rem !important;
    color: #373f50;
    text-decoration: none !important;
}

.star-rating {
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    vertical-align: middle;
}

.product-title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    line-height: 0.5;
}

.product-title>a:hover {
    color: #fe696a;
}

.pro-compare {
    position: absolute;
    top: 0.1rem;
    right: 0.75rem;
    z-index: 5;
}

.pro-compare a {
    font-size: 13px;
    text-decoration: none;
    padding-bottom: 7px;
    color: #4b566b;
}
.pro-compare .btn-compare{
    cursor: pointer;
    font-size: 13px;
    color: #4b566b;
}
.pro-compare a:hover {
    color: #fe696a;
}

.pro-compare i:hover {
    color: #fe696a;
}

.btn-wishlist {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0 !important;
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out;
    border: 0;
    border-radius: 50%;
    background-color: #f3f5f9;
    color: #373f50;
    text-align: center;
}

.product-actionadd ,.pro-compare .btn-compare{
    display: none;
}

.product-card:hover .product-actionadd , .product-card:hover .pro-compare .btn-compare {
    display: block;
}


/* Card Media Query */
@media (max-width: 992px) {
    .product-card .product-actionadd ,.product-card .pro-compare .btn-compare {
        display: block;
    }
    .product-card{
        border-color: #fff !important;
        box-shadow: 0 0.3rem 1.525rem -0.375rem #0000002e;
    }

}

@media screen and (min-width: 992px) {
 

}










